{% extends 'base.html.twig' %}

{% block title %}Trader Information{% endblock %}

{% block body %}
    <h1>Information du Trader</h1>
    <p>Nom: {{ trader.nom }}</p>
    <p>Prénom: {{ trader.prenom }}</p>
    <!-- Ajoutez plus d'informations si nécessaire -->
{% endblock %}