{# templates/action/cours_moyen.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Cours Moyen de l'Action{% endblock %}

{% block body %}
  <h1>Cours Moyen de l'Action : {{ action.nom }}</h1>
  <p>Le cours moyen est : {{ moyenne }}</p>
{% endblock %}